---
const { title, url, description, icon } = Astro.props
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="block w-full px-4 py-3 bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-xl shadow hover:shadow-md transition-all"
>
  <div class="flex items-center gap-4">
    <img src={icon} alt="Icon for each card" class="size-8">
    <div>
      <h2 class="text-lg font-semibold">{title}</h2>
      <p class="text-sm text-gray-500 dark:text-gray-400">{description}</p>
    </div>
  </div>
</a>
